.neler-oluyor {
    /* border: solid red 2px; */
    width: 100%;
    height: 100px;
}

#text-box {
    /* border: solid rgb(211, 24, 24) 2px; */
    width: 100%;
    height: 100px;
    background-color: #000;
}