body {
  background-color: rgb(0, 0, 0);
  /* overflow: hidden; */
}

.body {
  display: flex;
  height: 100vw;
  width: 100vw;
}

/* ----------------------------LEFT PANEL---------------------------------*/


.left-panel {
  /* border: solid white 2px; */
  display: flex;
  width: 20%;
  height: 100%;
  color: white;
}

.menu {
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 15%;
}

.menu-buttons {
  /* border: solid white 2px; */
  width: 100%;
  height: 3.5%;
}

.menu-button-text-box {
  /* border: solid red 2px; */
  margin-left: 10px;
}

.menu-button-text {
  /* border: solid white 2px; */
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.menu-button-icon-box {
  /* border: solid red 2px; */
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.menu-buttons i {
  font-size: 23px;
}

.a {
  /* border: solid white 2px; */
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  color: white;
}

.a:hover {
  border-radius: 65px;
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

.x-logo-a {
  /* border: solid white 2px; */
  display: inline-block;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  color: white;
}

.x-logo-a:hover {
  border-radius: 100%;
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

#post-button {
  /* border: solid red 2px; */
  display: block;
  background-color: rgb(26, 140, 216);
  border-radius: 30px;
  width: 80%;
  height: 110%;
}

#post-button h1 {
  text-align: center;
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-top: 13px;
}

#post-button-a {
  text-decoration: none;
}

/* ----------------------------MID PANEL---------------------------------*/


.mid-panel {
  border-left: solid rgb(51, 51, 51) 1px;
  border-right: solid rgb(51, 51, 51) 1px;
  border-bottom: solid red 2px;
  display: flex;
  width: 50%;
  height: 150%;
}

.mid-top{
  /* border: solid white 2px; */
  display: inline-block;
  position: sticky;
  top: 0;
  width: 100%;
  height: 8%;
  color: white;
  border-bottom: solid rgb(51, 51, 51) 1px;
}

#sana-ozel {
  /* border: solid white 1px; */
  display: inline-block;
  width: 45%;
  height: 100%;
  font-size: 11px;
}

#takip-edilen {
  /* border:solid white 1px; */
  display: inline-block;
  width: 45%;
  height: 100%;
  font-size: 11px;
}

#settings-icon {
  /* border: solid white 1px; */
  display: inline-block;
  width: 23px;
  height: 27px;
  position: relative;
  bottom: 40px;
  padding-left: 8px;
  padding-top: 5px;
}

#settings-icon i {
  font-size: 15px;
  color: white;
}

#sana-ozel h2 {
  position: absolute;
  margin-left: 100px;
  color: white;
}

#takip-edilen h2 {
  position: absolute;
  margin-left: 90px;
  color: white;
}


.mid-top a {
  text-decoration: none;
}

#sana-ozel:hover {
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

#takip-edilen:hover {
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

#settings-icon:hover {
  border-radius: 100%;
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

.mid-mid {
  /* border: solid red 2px; */
  height: 24%;
  display: flex;
}

.profile-photo {
  /* border: solid yellow; */
  height: 100%;
  width: 10%;
}

#profile-photo-image {
  width: 40px;
  height: 40px;
}

.tweet-bar {
  /* border: solid blue; */
  height: 100%;
  width: 90%;
}

#neler-oluyor {
  /* border: solid red; */
  display: block;
  width: 100%;
  height: 65%;
}

#neler-oluyor-textbox {
  background-color: black;
}

#tweeting-icons-post-button {
  /* border: solid green; */
  width: 100%;
  height: 35%;
}





/* ----------------------------RIGHT PANEL---------------------------------*/

.right-panel {
  /* border: solid white 2px; */
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding-left: 30px;
}

.search-bar {
  /* border: solid white 2px; */
  background-color: rgb(32, 35, 39);
  border-radius: 30px;
  flex-direction: row;
  width: 80%;
  height: 5%;
}

.search-icon {
  /* border: solid red; */
  display: inline-flex;
  margin-left: 7%;
  cursor: pointer;
}

#search-icon {
  font-size: 16px;
  color: #797979;
}

.search-box {
  /* border: solid red; */
  border-radius: 30px;
  display: inline-flex;
  width: 80%;
  height: 100%;
  margin-left: 3%;
  cursor: pointer;
}

#search-box {
  background-color: rgb(32, 35, 39);
  border-radius: 30px;
  border: none;
  width: 100%;
}

#div1.clicked,
#div2.clicked {
  background-color: #3498db;
  color: red;
}

/* input::placeholder {
  font-size: 15px;
}

#search-box:focus {
  border: 2px solid blue;
  background-color: black;
  color: #000;
  color: white;
} */

.subscribe {
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  color: white;
  border-radius: 30px;
  background-color: rgb(22, 24, 28);
  text-align: left;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#subscribe-button {
  /* border: solid pink 2px; */
  /* display: block;
  padding-top: 5px; */
  background-color: rgb(26, 140, 216);
  width: 100px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: white;
}

#a-subscribe {
  /* border: solid green 2px; */
  text-decoration: none;
  /* display: inline-block; */
  width: 100px;
  height: 25px;
  border-radius: 30px;
}

/* ------------------------------Trend Topics---------------------------------*/

.gundem {
  border: solid white 2px;
  border-radius: 16px;
  background-color: rgb(22, 24, 28);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 65%;
  /* display: inline-block;
  position: absolute;
  top: 35%;
  left: 6%; */
  text-align: left;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.topics-box {
  /* border: solid white 2px; */
  /* display:block; */
  color: white;
}

#topics-main-header {
  /* margin-left: 8%;
  margin-top: 4%;
  padding-left: 15px; */
  color: white;
}

.trdekiler {
  font-size: 10px;
  color: rgb(113, 118, 123)
}

.hashtags {
  font-size: 15px;
}

.post-count {
  font-size: 10px;
  color: rgb(113, 118, 123)
}

.a-topics {
  /* border: solid white 2px;  */
  /* display: inline-block;
  padding-left: 15px;
  margin-top: -3%; */
  width: 60%;
  text-decoration: none;
  color: white;
  
}

.topics-box:hover {
  /* border-radius: 15px; */
  background-color: rgb(45, 43, 43);
  transition: background-color 0.1s;
}

.icon-topics {
  /* border: solid white 2px; */
  /* margin-left:290px;
  display: inline;
  padding: 0px 6px 6px 6px; */
  text-decoration: none;
  color: white;
}

.icon-topics:hover {
  border-radius: 55px;
  background-color: rgba(63, 40, 239, 0.814);
  transition: background-color 0.1s;
}

.who-follow {
  border: solid lightblue 2px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgb(22, 24, 28);
  width: 80%;
  height: 35%;
}