* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #15202b;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leftBarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leftBarOption .material-symbols-outlined {
    padding: 12px;
}

.leftBarOption h1 {
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;

}


.leftBarOption:hover{
    background-color:#263747;
    border-radius: 30px;
    font-weight: 800;
}

.postButton{
    width: 90%;
    background-color:rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px ;
}

.postButton:hover{
    background-color: rgba(29,155,240,0.9);
}

body{
    display: flex;
    height: 100vh;
    max-width: 1300px ;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.account {
    width: 100% ;
    height: 30%;
    padding-top: 100px;
    margin-right: 10px;
}

.account a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 15px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.account img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.accountDetails {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-left: 10px;
    font-size: 15px;
    line-height: 20px;
}

.accountName{
    font-weight: 500;
}

.accountHandle{
    color: rgb(139, 152, 165);
}

.account a:hover{
    border-radius: 9999px;
    background-color: #263747;
}


.leftBar {
    position: sticky;
    flex: 0.2;
    min-width: 250px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
} 

/* Center Bar*/

.centerBar{
    flex: 0.5;
    min-width: fit-content;
}

.centerBarHeader{
    position: sticky;
    top: 0;
    background-color: #15202b;
    z-index: 100;
    border: 1px solid #263747;
    display: flex;
    color: white;
    width: 100%;
    height: 50px;
    
}

.centerBarHeader h3 {
    font-size: 15px;
    font-weight: 500;
}


.headerButton{
    width: 46%;
    background-color: #15202b;
    color: rgb(139, 152, 165);
    padding-left: 12px;
    padding-right: 12px;
}

.headerSettingButton{
    width: 6%;
    background-color: #15202b;
    color: rgb(139, 152, 165);
    padding-left: 12px;
    padding-right: 12px;

}

.headerButton:hover{
    background-color: #263747 ;
}

.headerSettingButton .material-symbols-outlined{
    font-size: 15px;
}

.headerSettingButton :hover{
    background-color: #263747;
    border-radius: 100%;
}

.centerBar ::-webkit-scrollbar {
    display: none;
}

/* text box*/

.textBox_input img{
    border-radius: 50%;
    height: 35px;
}

.textBox{
    padding-bottom: 10px;
    border-bottom: 1px solid #263747;
    padding-right: 10px;
    border-left: 1px solid #263747;
    border-right: 1px solid #263747;
}

.textBox form {
    display: flex;
    flex-direction: column;
}

.textBox_input {
    display: flex;
    padding: 20px;
}

.textBox_input input{
    flex: 1;
    margin-left: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #15202b;
    color: white;
}

.textBox_postButton {
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    font-weight: 700;
    font-size: 15px;
}

/*post*/

.post_avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    align-items: flex-start ;
    border-bottom: 1px solid #263747 ;
    padding-bottom: 10px ;
    border-left: 1px solid #263747 ;
    border-right:1px solid #263747 ;

}

.post_body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color:rgb(139, 152, 165) ;
    font-size: 15px;
    font-weight: 400;
}

.userName {
    font-weight: 400;
    font-size: 15px;
    color: rgb(139, 152, 165);
}

.post_headerText  h3{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 700;
}

.post_headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
}

.post_body {
    flex: 1;
    padding: 10px;
}

.post_avatar{
    padding: 10px ;
}

.footer_interaction{
    display: flex;
}

.footer_interaction .no{
    margin-left: 10px;
}







