body {
  /* border: solid blue 2px; */
  background-color: rgb(0, 0, 0);
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

/* ----------------------------LEFT PANEL---------------------------------*/


.left-panel {
  /* border: solid white 2px; */
  display: inline-block;
  position: absolute;
  width: 25%;
  margin-left: 0px;
  height: 99%;
  color: white;
}

.menu {
  /* border: solid red 2px; */
  display: inline-block;
  position: absolute;
  right: 15%;
  width: 65%;
}

.menu-buttons {
  /* border: solid white 2px; */
  display: inline-block;
  margin-top: 20px;
  padding-left: 25px;
}

.menu-button-text {
  /* border: solid white 2px; */
  display: inline-block;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0 0 4px 13px;
}

.icon-box {
  /* border: solid white 2px; */
  display: inline-block;
}

i {
  position: relative;
  font-size: 25px;
  top: 2px;
}

.a {
  /* border: solid white 2px; */
  display: inline;
  padding: 15px 10px 10px 10px;
  text-decoration: none;
  color: white;
}

.a:hover {
  border-radius: 65px;
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

#post-button {
  /* border: solid pink 2px; */
  display: block;
  background-color: rgb(26, 140, 216);
  width: 250px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  padding-top: 15px;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

#a-post {
  text-decoration: none;
}

.account {
  width: 100% ;
  height: 30%;
  padding-top: 42px;
  margin-right: 10px;
  margin-left: 12px;
}

.account a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 15px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.account img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  margin-left: 10px;
  font-size: 15px;
  line-height: 20px;
}

.accountName{
  font-weight: 500;
}

.accountHandle{
  color: rgb(139, 152, 165);
}

.account a:hover{
  border-radius: 9999px;
  background-color: #263747;
}

/* ----------------------------MID PANEL---------------------------------*/


.mid-panel {
  display: inline-block;
  position: absolute;
  width: 45%;
  margin-left: 25%;
  height: 99%;
}

.mid-top {
  /* border: solid white 2px; */
  display: inline-block;
  position: sticky;
  top: 0;
  width: 100%;
  height: 6%;
  color: white;
  border-bottom: solid rgb(51, 51, 51) 1px;
  border-left: solid rgb(51, 51, 51) 1px;
  border-right: solid rgb(51, 51, 51) 1px;
}

#sana-ozel {
  /* border: solid white 1px; */
  display: inline-block;
  width: 45%;
  height: 100%;
  font-size: 11px;
}

#takip-edilen {
  /* border:solid white 1px; */
  display: inline-block;
  width: 45%;
  height: 100%;
  font-size: 11px;
}

#settings-icon {
  /* border: solid white 1px; */
  display: inline-block;
  width: 23px;
  height: 27px;
  position: relative;
  bottom: 25px;
  padding-left: 8px;
  padding-top: 10px;
}

#settings-icon i {
  font-size: 15px;
  color: white;
}

#sana-ozel h2 {
  position: absolute;
  margin-left: 100px;
  color: white;
}

#takip-edilen h2 {
  position: absolute;
  margin-left: 90px;
  color: white;
}


.mid-top a {
  text-decoration: none;
}

#sana-ozel:hover {
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

#takip-edilen:hover {
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

#settings-icon:hover {
  border-radius: 100%;
  background-color: rgb(35, 35, 35);
  transition: background-color 0.1s;
}

.mid-mid {
  /* border: solid red 2px; */
  border-bottom: solid rgb(51, 51, 51) 1px;
  height: 15%;
  width: 100%;
  display: flex;
  border-left: solid rgb(51, 51, 51) 1px;
  border-right: solid rgb(51, 51, 51) 1px;
}

.profile-photo {
  /* border: solid yellow; */
  height: 100%;
  width: 10%;
  margin-top: 3%;
  margin-left: 3%;
}

#profile-photo-image {
  width: 40px;
  height: 40px;
}

.tweet-bar {
  /* border: solid blue; */
  height: 90%;
  width: 90%;
}

#neler-oluyor {
  /* border: solid yellow; */
  display: block;
  width: 100%;
  height: 65%;
}

#neler-oluyor-textbox {
  /* background-color: black; */
  margin-top: 10px;
  height: 60%;
  width: 96%;
  background-color: #000;
  color: white;
  font-size: 20px;
}

input[type="text"] {
  border: none;
  outline: none;
}

input[type="text"]::placeholder {
  font-size: 20px;
  /* İstediğiniz font büyüklüğünü burada belirtin */
}


#tweeting-icons-post-button {
  /* border: solid green; */
  display: flex;
  margin-left: 5px;
  /* color: white; */
  width: 100%;
  height: 20%;
  padding-top: 5px;
}

#tweeting-icons-post-button i {
  font-size: 15px;
}

.t {
  margin-right: 10px;
  color: rgb(15, 122, 194);
  /* border: solid white 2px; */
  display: inline;
  /* padding: 15px 10px 10px 10px; */
  text-decoration: none;
  /* width: 25px; */
  height: 15px;

}

.icon-tweeting {
  /* border: solid white 2px; */
  /* top: -15%; */
  display: inline;
  padding: 2px 6px 6px 6px;
  /* text-decoration: none; */
}

.icon-tweeting:hover {
  border-radius: 80%;
  background-color: rgba(46, 146, 213, 0.3);
  transition: background-color 0.1s;
}

#tweeting-button {
  /* border: solid pink 2px; */
  display: block;
  background-color: rgb(26, 140, 216);
  width: 90px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

#a-tweeting {
  text-decoration: none;
  display: inline-block;
  width: 75px;
  height: 25px;
  border-radius: 30px;
  margin-left: 270px;
}

.who-follow {
  /* border: solid white 2px; */
  border-radius: 16px;
  background-color: rgb(22, 24, 28);
  width: 75%;
  height: 65%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 102%;
  left: 6%;
  text-align: left;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#nicknames {
  border: solid white 2px;
  display: block;
  /* padding-left: 15px; */
  color: white;
}

.post_avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start ;
  border-bottom: 1px solid #263747 ;
  padding-bottom: 10px ;
  border-left: 1px solid #263747 ;
  border-right:1px solid #263747 ;
  width: 100%;

}

.post_body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color:rgb(139, 152, 165) ;
  font-size: 15px;
  font-weight: 400;
}

.userName {
  font-weight: 400;
  font-size: 15px;
  color: rgb(139, 152, 165);
}


.post_headerText  h3{
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 700;
  margin-top: 10px;
}

.post_headerDescription{
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}

.post_headerDescription p {
  margin-top: 0px;
}

.post_body {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.post_avatar{
  padding: 10px ;
}

.footer_interaction{
  display: flex;
}

.footer_interaction .no{
  margin-left: 10px;
}


/* ----------------------------RIGHT PANEL---------------------------------*/

.right-panel {
  /* border: solid white 2px; */
  display: inline-block;
  position: absolute;
  width: 29.5%;
  margin-left: 70%;
  height: 99%;
}

.search-bar {
  /* border: solid white 2px; */
  border-radius: 25px;
  float: left;
  margin-top: 5%;
  margin-left: 8%;
  position: relative;
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #797979;
}

#search-box {
  float: left;
  width: 205%;
  height: 40px;
  border-radius: 30px;
  background-color: rgb(22, 24, 28);
  border: none;
  padding-left: 20%;
  color: white;
}

input::placeholder {
  font-size: 15px;
}

#search-box:focus {
  border: 2px solid blue;
  background-color: black;
  color: #000;
  color: white;
}

.right-div {
  border: solid red 2px;
  display: inline-block;
  position: absolute;
  width: 100%;
}

.subscribe {
  /* border: solid white 2px; */
  float: left;
  position: relative;
  left: 6%;
  margin-top: 4%;
  width: 75%;
  height: 180px;
  color: white;
  border-radius: 30px;
  background-color: rgb(22, 24, 28);
  text-align: left;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-left: 15px;
}

#subscribe-button {
  /* border: solid pink 2px; */
  display: block;
  background-color: rgb(26, 140, 216);
  width: 100px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

#a-subscribe {
  /* border: solid green 2px; */
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 25px;
  border-radius: 30px;
}

/* ------------------------------Trend Topics---------------------------------*/

.gundem {
  /* border: solid white 2px; */
  border-radius: 16px;
  background-color: rgb(22, 24, 28);
  width: 75%;
  height: 65%;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 6%;
  text-align: left;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;

}

.topics-box {
  /* border: solid white 2px; */
  display: block;
  /* padding-left: 15px; */
  color: white;
}

#topics-main-header {
  /* margin-left: 8%;
  margin-top: 4%; */
  color: white;
  padding-left: 15px;
}

.trdekiler {
  font-size: 10px;
  color: rgb(113, 118, 123)
}

.hashtags {
  font-size: 15px;
}

.post-count {
  font-size: 10px;
  color: rgb(113, 118, 123)
}

.a-topics {
  /* border: solid white 2px;  */
  display: inline-block;
  /* padding: 10px 10px 10px -10px; */
  padding-left: 15px;
  width: 60%;
  margin-top: -3%;
  text-decoration: none;
  color: white;

}

.topics-box:hover {
  /* border-radius: 15px; */
  background-color: rgb(45, 43, 43);
  transition: background-color 0.1s;
}

.icon-topics {
  /* border: solid white 2px; */
  margin-left: 290px;
  /* top: -15%; */
  display: inline;
  padding: 0px 6px 6px 6px;
  text-decoration: none;
  color: white;
}

.icon-topics:hover {
  border-radius: 55px;
  background-color: rgba(46, 146, 213, 0.3);
  transition: background-color 0.1s;
}

.who-follow {
  border: solid lightblue 2px;
  border-radius: 16px;
  background-color: rgb(22, 24, 28);
  width: 75%;
  height: 35%;
  display: inline-block;
  position: absolute;
  bottom: -40%;
  left: 6%;
}